
.note-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px 20px;
  
}
.note-content>p {
    max-width: 500px;
}