.delete {
  background-color: #0B99D3;
  border: 1px solid #0B99D3;
  width: 150px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgray;
  color: #F0F7FA;

}
.note {
  border: 1px solid black;
  padding: 20px 20px;
  margin-bottom: 20px;
  box-shadow:  5px 8px 6px gray;
}
.note-name {
  font-size: 30px;
}