*{
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    background-color: #102541;
}

.App__main {
    grid-area: main;
    height: calc(100vh - 120px);
    overflow: auto;
  }

a {
    text-decoration: none;
    font-weight: bold;
    color: #cbdafa;
}
button:hover {
    cursor: pointer;
}
ul li {
    text-decoration: none;
}
.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto
}
.main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: auto;
}
header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color:#0b1f3a;
    
}
header h1 {
    font-size: 40px;
    color: #bdbdbd;
}
.noteful a {
    color:#bdbdbd;
}
.body {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color:#102541;
    height: auto;
}
.sidebar {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style:none;
    padding: 10px 10px;
}


/* BUTTONS */
.add-folder, .back, .add-note, #folder-submit, #submit {
    height: 50px;
    width: 100%;
    margin-top: 10px;
    background-color: #729be7;
    border: 1px solid #0B99D3;
    border-radius: 1px;
    box-shadow: 5px 5px 5px lightgray;
    color: #000000;
    font-size: 14px;
}
.main-note-list {
    padding: 0;
    margin: 0;
}


@media only screen and (min-width: 768px){
    .sidebar{
        width: 30%;
        justify-content: flex-start;
    }
    .main-content{
        width: 70%;
    }
}